/* popular_goods--icons_wrapper */

.popular_goods--icons_wrapper {
  display: flex;
  justify-content: space-between;
  width: 933px;

  @media (max-width: 1023px) {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
  }
}

.popular_goods--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1023px) {
      margin: 5px;
  }
  img {
      width: 99px;
      height: 107px;

      @media (max-width: 1023px) {
          width: 70px;
          height: 75px;
      }
  }
  p {
      text-align: center;
      /* Regular/14px | 20px */
      font-family: 'SFUIDisplay-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
      
      @media (max-width: 1023px) {
          display: none;
      }
  }
}